<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handforunknown"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.handforunknown.Login"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.handforunknown.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.example.handforunknown.ParentHome"
            android:label="@string/title_activity_parent_home" >
        </activity>
        <activity
            android:name="com.example.handforunknown.IPSetting"
            android:label="@string/title_activity_ipsetting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.handforunknown.Parentaddchild"
            android:label="@string/title_activity_parentaddchild" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Complaints"
            android:label="@string/title_activity_complaints" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Message"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Enquiry"
            android:label="@string/title_activity_enquiry" >
        </activity>
        <activity
            android:name="com.example.handforunknown.ViewTask"
            android:label="@string/title_activity_view_task" >
        </activity>
        <activity
            android:name="com.example.handforunknown.ViewDoctors"
            android:label="@string/title_activity_view_doctors" >
        </activity>
        <activity
            android:name="com.example.handforunknown.ViewGames"
            android:label="@string/title_activity_view_games" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Simplegame"
            android:label="@string/title_activity_simplegame" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Selectachildfortask"
            android:label="@string/title_activity_selectachildfortask" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Updatetaskperfomance"
            android:label="@string/title_activity_updatetaskperfomance" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Selectchildforgames"
            android:label="@string/title_activity_selectchildforgames" >
        </activity>
        <activity
            android:name="com.example.handforunknown.Selectgame"
            android:label="@string/title_activity_selectgame" >
        </activity>
    </application>

</manifest>
